@import './blog.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.PhoneInputInput {
  border: 0px solid;
  height: 24px;
}
